html {
    box-sizing: border-box
}

* {
    box-sizing: inherit;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*width: 60vw;*/
}

header {
    display: flex;
    flex-direction: column;
}


.top-nav {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
       
}


.kontakt-bio {
    background-color: rgb(180, 220, 180);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}


.pic-top {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.pic-sarah {
    width: 350px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(180, 220, 180);
}

.interessen-fähigkeiten {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    
}

.list {
    margin: 10px;
    padding: 10px 20px 0px 10px;
    background-color: rgb(180, 220, 180);
    border-radius: 10px;
    
}

.h2-list {
    margin-top: 0px;
}

